<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let element of data.elements" scope="col">{{element.name}}</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr app-entry *ngFor="let entry of userEntries | async; let index = index" [entry]="entry" [index]="index"></tr>
    <tr app-entry-input [elements]="data.elements" (addEntryAction)="addEntry($event)"></tr>
  </tbody>
</table>





<!--[index]="entries.length" was in the app-entry-input-->
