<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<button type="button" class="btn" (click)="openDialog({ context: {}, template: wizardTmpl})" [hidden]="authService.user | async">
  Login / Sign up
</button>

<button type="button" class="btn" *ngIf="authService.user | async" (click)="logout()">
  Logout
</button>

<app-ledger></app-ledger>


<!-- Auth dialog popup -->
<ng-template #wizardTmpl let-context="context">
  <div class="ngx-dialog-header">
    <h1>Login or Sign up</h1>
    <!--<span>Custom subtext</span>-->
  </div>
  <div>
    <ngx-input
      type="text"
      [label]="'Email'"
      [autofocus]="true"
      [(ngModel)]="email"
      [hint]="'Enter your email'">
    </ngx-input>

    <ngx-input
      type="password"
      [label]="'Password'"
      [(ngModel)]="password"
      [hint]="'Enter your account password'">
    </ngx-input>
  </div>
  <div class="ngx-dialog-footer">
    <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="!email || !password">
      <i class="ngx-icon ngx-check has-text"></i>Sign up
    </button>
    <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!email || !password">
      <i class="ngx-icon ngx-check has-text"></i>Login
    </button>
  </div>
</ng-template>
