<div [ngSwitch]="elementType">
  <div *ngSwitchCase="LedgerElementType.text">
    <div class="col-12 form-group">
      <input type="text"
             placeholder="text"
             class="form-control"
             [(ngModel)]="element.value">
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.date">
    <div class="col-12 form-group">
      <!--<input type="text"-->
             <!--placeholder="Datepicker"-->
             <!--class="form-control">-->

      <ngx-date-time
        name="calendar-input1"
        [(ngModel)]="element.value"
        (change)="dateChanged($event)">
      </ngx-date-time>
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.number">
    <div class="col-12 form-group">
      <input type="text"
             placeholder="Number"
             class="form-control"
             [(ngModel)]="element.value">
    </div>
  </div>
</div>
