<div [ngSwitch]="elementType">
  <div *ngSwitchCase="LedgerElementType.text">

    <p [hidden]="editMode">
      {{elementValue}}
    </p>

    <div class="form-group" [hidden]="!editMode">
      <input type="text"
             placeholder="{{elementName}}"
             class="form-control"
             [(ngModel)]="elementValue">
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.date">
    <p [hidden]="editMode">
      {{elementValue | date}}
    </p>

    <div class="form-group" [hidden]="!editMode">
      <!--<input type="text"-->
             <!--placeholder="Datepicker"-->
             <!--class="form-control">-->

      <ngx-date-time
        name="calendar-input1"
        placeholder="{{elementName}}"
        [(ngModel)]="elementValue"
        (change)="dateChanged($event)">
      </ngx-date-time>
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.number">
    <p [hidden]="editMode">
      {{elementValue}}
    </p>

    <div class="form-group" [hidden]="!editMode">
      <input type="text"
             placeholder="{{elementName}}"
             class="form-control"
             [(ngModel)]="elementValue">
    </div>
  </div>
</div>
