<div [ngSwitch]="elementType">
  <div *ngSwitchCase="LedgerElementType.text">

    <p [hidden]="viewMode">
      {{element.value}}
    </p>

    <div class="form-group" [hidden]="!viewMode">
      <input type="text"
             placeholder="text"
             class="form-control"
             [(ngModel)]="element.value">
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.date">
    <p [hidden]="viewMode">
      {{element.value | date}}
    </p>

    <div class="form-group" [hidden]="!viewMode">
      <!--<input type="text"-->
             <!--placeholder="Datepicker"-->
             <!--class="form-control">-->

      <ngx-date-time
        name="calendar-input1"
        [(ngModel)]="element.value"
        (change)="dateChanged($event)">
      </ngx-date-time>
    </div>
  </div>

  <div *ngSwitchCase="LedgerElementType.number">
    <p [hidden]="viewMode">
      {{element.value}}
    </p>

    <div class="form-group" [hidden]="!viewMode">
      <input type="text"
             placeholder="Number"
             class="form-control"
             [(ngModel)]="element.value">
    </div>
  </div>
</div>
