/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ngx-date-time{
  .ngx-input{
    padding-top: 0;
    margin-top: 0;
  }

  .ngx-date-time .calendar-dialog-btn{
    padding-top: 8px;
  }
}
