<div>
  <!--<p>new entry-input works fine</p>-->
  <!--<div class="row">-->
    <!--<app-entry-element *ngFor="let element of elements"-->
    <!--[element]="element"></app-entry-element>-->
  <!--</div>-->
  <button class="btn primary">Launch entry detail</button>
</div>

<!--<button-->
  <!--type="button"-->
  <!--(click)="openDrawer('bottom')">-->
  <!--Open Bottom Drawer-->
<!--</button>-->
<!--<ng-template #editTmpl>-->
  <!--&lt;!&ndash;<ngx-toolbar&ndash;&gt;-->
    <!--&lt;!&ndash;[title]="'Attack Alert!'">&ndash;&gt;-->
  <!--&lt;!&ndash;</ngx-toolbar>&ndash;&gt;-->
  <!--<section class="section">-->
    <!--<h1>Attack Type: Malware</h1>-->
    <!--<button-->
      <!--type="button"-->
      <!--class="btn"-->
      <!--(click)="openDrawer()">-->
      <!--Open Details-->
    <!--</button>-->
  <!--</section>-->
<!--</ng-template>-->
